body {
    font-size: 18px;
}

#alscurrent {
    font-weight: 700;
    color:#4974a5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.barchart {
    width:500px;
}

.caption {
    text-align: center;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
}

.lda {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    text-align: center;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    font-weight: 900;
    color:#79a9b7;
}