h3 {
    text-align: center;
}

#postdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    gap: 20px;
}

#body-text {
    border: 2px;
}

label {
    background-color: #dde9ed;
}

#submission {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

select {
    width: 120px;
}

button[type=submit]{
    background-color: #4974a5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 120px;
}
body {
    background-color: white;
}