 @import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Inter");  

body {
    margin:0;
    padding:0;
    font-family: Inter;
    font-weight: 400;
}
.section-header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    background-color: #dde9ed;
}
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-top: 50px;
    padding-left:50px;
    padding-right: 50px;
    background-color: #abc9d2;
}

h1 {
    font-size: 50px;
}

h3.section-header {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50x;
}

.navbar.navbar-expand-md.navbar-light {
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    height: 100px;
    font-size: 20px;
    background-color: #abc9d2;
}

.collapse.navbar-collapse {
    margin: 5%;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .navbar.navbar-expand-md.navbar-light {
        font-size: 18px;
    }
    
}