{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ac-discussions.css') }}">
    <h3 style="text-align:center">An NLP analysis of <a href="https://www.agingcare.com/caregiver-forum/discussions" style="color:#abc9d2;">AgingCare Discussions Forum</a></h3>
</head>

<body>

    <div id="links">
        <a href="#topicmodeling"><span class="circle">Topic Modeling</span></a>
        <a href="#sentiment"><span class="circle">Sentiment Analysis</span></a>
        <a href="#emotion"><span class="circle">Emotion Analysis</span></a>
    </div>
    
    <div class="section-header">
        <h3>About</h3>
    </div>
    <div class="about">
        <p>
        This is a breakdown of the Natural Language Processing (NLP) performed on the data gathered solely from the AgingCare Discussion forum. Further documentation on the NLP can be found <a href="/documentation">here.</a> </p>

    </div>

   <br>
   <h5>Statistics:</h4> 
    <p>The following statistics describe the AgingCare Discussion Forum 2008 to date.</p>

    <ul style="font-size:15px;background-color: #eef4f6;">
        <li>Number of Unique Users: 12947</li>
        <li>Number of Original Posts: 10629</li>
        <li>Number of Replies: 114659</li>
        <li>Average Number of Posts per User (Including Replies): 9.68</li>
        <li>Average Number of Original Posts per User: 0.82</li>
        <li>Average Number of Replies per User: 8.86</li>
        <li>Original Posts vs Replies Ratio: 0.09</li>
        <li>Average Number of Words per Post: 131.28</li>
        <li>Top 10 Keywords & Count: 
        <pre>
        Burnout                 : 2008
        Alzheimer's & Dementia  : 1588 
        Relationships           : 1509 
        Family Caregiver        : 1352
        Mental Health           : 1099
        End of Life             : 752 
        Caregiver Support       : 576 
        Care Decisions          : 519 
        Senior Health           : 378
        Financial Planning      : 310 
        </pre>
        </li>
    </ul>
    
    <a name="topicmodeling"><div class="section-header">
        <h3>Topic Modeling</h3>
    </div></a>
    <p>The following topic modeling results were achieved through LDA (Latent Dirichlet Allocation), an unsupervised machine learning model. More information can be found on the <a href="/documentation">Documentation</a> page.</p>

    <h5>Topic Modeling on Titles of Posts</h5>
    <img src="{{url_for('static', filename='images/acd_TM1.png')}}">
    <br>
    <img src="{{url_for('static', filename='images/acd_TM2.png')}}">
        
    <!-- topic modeling here -->    

    <a name="sentiment"><div class="section-header">
        <h3>Sentiment Analysis</h3>
    </div></a>
    <p>
        The results below show the number of positive, negative, and neutral sentiment posts in the data set. The most informative features show words that were most strongly correlated with positive or negative posts. If a post contains the word shown on the left, the probability of the post being Negative:Positive or Positive:Negative is shown by the ratio on the right.
    </p>
    <img src="{{url_for('static', filename='images/acd_SA.png')}}" style="width:750px;height:400px;">

    <a name="emotion"><div class="section-header">
        <h3>Emotion Analysis</h3>
    </div></a>
    <div class="emotionanalysis-images">
        <!-- <img id="timeseries" src="{{url_for('static', filename='images/AgingCare-Timeseries.png')}}"> -->
        <p">The time series graph above shows the emotion severity score for each of the 8 emotions across the time range from 2018 to 2022. The mean score for each day in the time range was calculated for each emotion. The y-axis shows the mean emotion severity score for each of the emotions, and the x-axis is divided into 6 month intervals. We can observe how emotions changed before and after the Covid 19 Pandemic.</p>
        <br><br>
        <img id="piechart" src="{{url_for('static', filename='images/acd_EA.png')}}" style="width:500px;height:400px;"> <br>
        <p class="caption">All of the posts were assigned a dominant emotion by the NRCLex algorithm. The pie chart above shows the distribution of each of the 8 emotions across all posts on the site from 2018 to 2022. </p>
    </div>


    <div id="tothetop">
    <button id="topbutton" style="text-align: center;"><a href="#top">Top</a></button>
    </div>
</body>
{% endblock %}