{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ac-questions.css') }}">
    <h3 style="text-align:center">An NLP analysis of <a href="https://www.agingcare.com/caregiver-forum/questions" style="color:#abc9d2;">AgingCare Questions Forum</a></h3>
</head>

<body>

    <div id="links">
        <a href="#topicmodeling"><span class="circle">Topic Modeling</span></a>
        <a href="#sentiment"><span class="circle">Sentiment Analysis</span></a>
        <a href="#emotion"><span class="circle">Emotion Analysis</span></a>
    </div>
    
    <div class="section-header">
        <h3>About</h3>
    </div>
    <div class="about">
        <p>
        AgingCare (agingcare.com) is a website that allows caregivers to share their experiences as well as ask questions and participate in discussions. 
        Caregivers have access to a variety of resources on the site such as elder law attorneys, care options, and senior housing options.  </p>
        <p>We have scraped these posts from the website with posts dating back to January of 2008, the start of the message board. You can download the data set here.</p>

        <p>We performed natural language processing (NLP) on the data we gathered, including topic modeling and sentiment analysis. Further documentation can be found on
            the "Documentation" page.
        </p>
   </div>

   <br>
   <h5>Statistics:</h4> 
    <p>The following statistics describe the AgingCare Questions Forum 2008 to date.</p>

    <ul style="font-size:15px;background-color: #eef4f6;">
        <li>Number of Unique Users: 43501</li>
        <li>Number of Original Posts: 47749</li>
        <li>Number of Replies: 357011</li>
        <li>Average Number of Posts per User (Including Replies): 9.30</li>
        <li>Average Number of Original Posts per User: 1.09</li>
        <li>Average Number of Replies per User: 8.20</li>
        <li>Original Posts vs Replies Ratio: 0.13</li>
        <li>Average Number of Words per Post: 119.41</li>
        <li>Top 10 Keywords & Count: 
        <pre>
        Alzheimer's & Dementia  : 7287 
        Relationships           : 4235 
        Care Decisions          : 3343 
        Financial Planning      : 3274 
        Family Caregiving       : 2979 
        Medicaid                : 2734 
        Power of Attorney (POA) : 2718
        Burnout                 : 2551
        Paying for Care         : 2434 
        Elder Law               : 2406
        </pre>
        </li>
    </ul>

</body>
{% endblock %}