{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ac-questions.css') }}">
    <h3 style="text-align:center">An NLP analysis of <a href="https://www.agingcare.com/caregiver-forum/questions" style="color:#abc9d2;">AgingCare Questions Forum</a></h3>
</head>

<body>
    <div class="section-header">
        <h3>About</h3>
    </div>
    <div class="about">
        <p>
        AgingCare (agingcare.com) is _</p>
        <p>We have scraped these posts from the website with posts dating back to 2008, the start of the message board. You can download the data set here.</p>

        <p>Description</p>
   </div>

   <br>
   <h5>Statistics:</h4> 
    <p>The following statistics describe the AgingCare Questions Forum 2008 to date.</p>

    <ul style="font-size:15px;background-color: #eef4f6;">
        <li>Unique users: 31342</li>
        <li>Number of Original Posts: 33292</li>
        <li>Number of Replies: 257777</li>
        <li>Average Number of Posts per User (Including Replies): 9.29</li>
        <li>Average Number of Original Posts per User: 1.06</li>
        <li>Average Number of Replies per User: 8.22</li>
        <li>Original Posts vs Replies Ratio: 0.13</li>
        <li>Average Number of Words per Post: 120.50</li>
    </ul>

</body>
{% endblock %}