{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/ac.css') }}">
    <h3 style="text-align:center">An NLP analysis of <a href="https://www.agingcare.com/caregiver-forum" style="color:#abc9d2;">AgingCare</a></h3>
</head>

<body>

    <div id="links">
        <a href="#topicmodeling"><span class="circle">Topic Modeling</span></a>
        <a href="#sentiment"><span class="circle">Sentiment Analysis</span></a>
        <a href="#emotion"><span class="circle">Emotion Analysis</span></a>
    </div>

        
    <div class="section-header">
        <h3>About</h3>
    </div>

    <div class="about">
        <p>
        AgingCare (agingcare.com) is a website that allows caregivers to share their experiences as well as ask questions and participate in discussions. 
        Caregivers have access to a variety of resources on the site such as elder law attorneys, care options, and senior housing options.  </p>
        <p>We have scraped these posts from the website with posts dating back to January of 2008, the start of the message board. You can download the data set here.</p>

        <p>We performed natural language processing (NLP) on the data we gathered, including topic modeling, sentiment analysis, and emotion analysis. 
            Further documentation on the NLP performed can be found <a href="/documentation">here.</a> </p>
    </div>

    <!-- uncomment if want to include questions and discussion forum breakdown -->
    <!-- discussion NLP not uploaded from notebooks, just descriptive stats -->
    <!-- <p>Individual NLP on the Questions forum (<a href="/ac-questions">here</a>) and Discussion forum (<a href="/ac-discussions">here</a>). </p> -->

    <br>
   <h5>Statistics:</h4> 
    <p>The following statistics describe the AgingCare Forum from 2008 to date.</p>

    <ul style="font-size:15px;background-color: #eef4f6;">
        <li>Number of Unique Users: 49162</li>
        <li>Number of Original Posts: 58378</li>
        <li>Number of Replies: 471670</li>
        <li>Average Number of Posts per User (Including Replies): 10.78</li>
        <li>Average Number of Original Posts per User: 1.19 </li>
        <li>Average Number of Replies per User: 9.59</li>
        <li>Original Posts vs Replies Ratio: 0.12</li>
        <li>Average Number of Words per Post: 122.22</li>
        <li>Top 10 Keywords & Count: 
        <pre>
        Alzheimer's & Dementia  : 8875 
        Relationships           : 5744 
        Burnout                 : 4559
        Family Caregiver        : 4331 
        Care Decisions          : 3862 
        Financial Planning      : 3584 
        Medicaid                : 2902 
        Power of Attorney (POA) : 2873
        Paying for Care         : 2738 
        Mental Health           : 2694
        </pre>
        </li>
    </ul>

    <a name="topicmodeling"> <div class="section-header">
        <h3>Topic Modeling</h3>
    </div>
    </a>
    <div class="topic-modeling">
    <p style="font-weight:800">Topic Modeling Word Cloud on Titles of Posts:</p>
    <img src="{{url_for('static', filename='images/ac_TM1.png')}}">
    <br>
    <img src="{{url_for('static', filename='images/ac_TM2.png')}}">
    <br><br>
    <p>
        The results below are for Topic Modeling on the titles of all the posts on the site. They show a PCA plot with each topic represented as a bubble. The larger the bubble, the higher the percentage of posts that correspond to that topic. Topics that are closer to each other on the PCA plot are more similar and topics further away are more different. The blue bars on the right show the overall frequency of a word in the data set. If you click on a topic bubble, the red bars will show the estimated number of times a word was generated by that topic. More information can be found <a href="https://neptune.ai/blog/pyldavis-topic-modelling-exploration-tool-that-every-nlp-data-scientist-should-know#:~:text=Let%E2%80%99s%20use%20pyLDAvis%20to%20visualize%20the%20topics%3A">here</a>.
    </p>

    <a name="sentiment">
    <div class="section-header">
        <h3>Sentiment Analysis</h3>
    </div></a>
    <p>
    The results below show the number of positive, negative, and neutral sentiment posts in the data set. The most informative features show words that were most strongly correlated with positive or negative posts. If a post contains the word shown on the left, the probability of the post being Negative:Positive or Positive:Negative is shown by the ratio on the right.
    </p>
    <img src="{{url_for('static', filename='images/ac_SA.png')}}" style="width:1200px;height:450px;">
    
    <a name="emotion"><div class="section-header">
        <h3>Emotion Analysis</h3>
    </div></a>
    <img id="timeseries" src="{{url_for('static', filename='images/ac_TS.png')}}">
    <p>The time series graph above shows the emotion severity score for each of the 8 emotions across the time range from 2018 to 2022. The mean score for each day in the time range was calculated for each emotion. The y-axis shows the mean emotion severity score for each of the emotions, and the x-axis is divided into 6 month intervals. We can observe how emotions changed before and after the Covid 19 Pandemic.</p>
    <br><br>
    <img id="piechart" src="{{url_for('static', filename='images/ac_EA.png')}}" style="width:400px;height:300px;">
    <p class="caption">All of the posts were assigned a dominant emotion by the NRCLex algorithm. The pie chart above shows the distribution of each of the 8 emotions across all posts on the site. </p>
    
    <div id="tothetop">
    <button id="topbutton" style="text-align: center;"><a href="#top">Top</a></button>
    </div>


</body>
{% endblock %}