{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/alz.css') }}">
    <a name="top"><h3 style="text-align:center">An NLP analysis of <a href="https://www.alzconnected.org/discussion.aspx?g=topics&f=151" style="color:#abc9d2;">AlzConnected</a></h3></a>
</head>

<body>
    <div id="links">
        <a href="#topicmodeling"><span class="circle">Topic Modeling</span></a>
        <a href="#sentiment"><span class="circle">Sentiment Analysis</span></a>
        <a href="#emotion"><span class="circle">Emotion Analysis</span></a>
    </div>

    <div class="section-header">
        <h3>About</h3>
    </div>
    <div class="about">
        <p>
        AlzConnected (alzconnected.org) is a website where caregivers or people close to patients with Alzheimer's disease or another dementia can seek help and advice or talk through their troubles with a community. The website is set up as a blog where users can post and others can reply and comment. </p>
        <p>We have scraped these posts from the website with posts dating back to 2011, the start of the message board. You can download the data set here.</p>

        <p>In our analysis we focused on posts that contained keywords related to mental health and also split the posts into two groups: Pre-Covid and during Covid. These keywords were "depression", "anxiety", "health anxiety", "little interest", "hopeless", "nervous", "worrying", "lonely", "concern", "mental health", and "mental distress." The posts labeled Pre-Covid were posted between 03/01/2018 - 02/28/2020 (inclusive) and the posts labeled Post-Covid were posted between 03/01/2020 - 02/28/2022 (inclusive).</p>
        <p>In order to perform NLP on the text data, we first needed to clean it and tokenize it. To do this, we used a few functions from NLTK (Natural Language Toolkit). NLTK's word_tokenize was used to split the text into a list of words. Punctuations and stopwords were then removed and we were left with our words of interest. The words were then lemmatized by stripping words down to their base using NLTK's lemmatizer. An example of this would be stripping the word "being" to "be" to get its most basic form. This left us with our tokens in the form of a list of words, which were used to represent each post.</p>
        <p>In Sentiment Analysis, further processing was needed to turn these lists of words into features. The first step in doing this was to find the frequency of each word in all the posts of interest combined. Then we took the 2000 most frequent words and those became our features. A post was then represented by a Python dictionary which maps each feature to a boolean value of wether or not that feature is contained in the document.</p>
        
    <h3>Statistics:</h3>
    <p>The following statistics describe the AlzConnected forum.</p>
    <ul style="font-size:15px;background-color: #eef4f6;">
        <li>Unique users: 14818</li>
        <li>Number of Original Posts: 31439</li>
        <li>Number of Replies: 205571</li>
        <li>Average Number of Posts per User (Including Replies): 47.5</li>
        <li>Average Number of Original Posts per User: 2</li>
        <li>Average Number of Replies per User: 14</li>
        <li>Original Posts vs Replies Ratio: 0.14</li>
    </ul>
    </div>
    
    <a name="topicmodeling"> <div class="section-header">
        <h3>Topic Modeling</h3>
    </div>
    </a>
    <p style="font-size:small">To view Topic Modeling on our "Pre-Covid" and "During Covid" data, click <a href="/alz_pre_vs_post">here.</a></p>
    <div class="topic-modeling">
    <p style="font-weight:800">Topic Modeling Word Cloud on Titles of Posts:</p>
    <img src="{{url_for('static', filename='images/alz_titles_wordcloud.png')}}">
    <br><br>
    <p>
        The results below show a PCA plot with each topic represented as a bubble. The larger the bubble, the higher the percentage of posts that correspond to that topic. Topics that are closer to each other on the PCA plot are more similar and topics further away are more different. The blue bars on the right show the overall frequency of a word in the data set. If you click on a topic bubble, the red bars will show the estimated number of times a word was generated by that topic. More information can be found <a href="https://neptune.ai/blog/pyldavis-topic-modelling-exploration-tool-that-every-nlp-data-scientist-should-know#:~:text=Let%E2%80%99s%20use%20pyLDAvis%20to%20visualize%20the%20topics%3A">here</a>.
    </p>
    
    <a name="sentiment">
    <div class="section-header">
        <h3>Sentiment Analysis</h3>
    </div></a>
    <p>
    The results below show the number of positive, negative, and neutral sentiment posts in the data set. The most informative features show words that were most strongly correlated with positive or negative posts. If a post contains the word shown on the left, the probability of the post being Negative:Positive or Positive:Negative is shown by the ratio on the right.
    </p>
    <h5 style="text-align:center">Pre-Covid</h5>
    <img src="{{url_for('static', filename='images/Alz_SA_PreCovid.png')}}" style="width:1200px;height:450px;">
    
    <h5 style="text-align:center">Post-Covid</h5>
    <img src="{{url_for('static', filename='images/Alz_SA_PostCovid.png')}}" style="width:1200px;height:450px;">

    <a name="emotion"><div class="section-header">
        <h3>Emotion Analysis</h3>
    </div></a>
    <img id="timeseries" src="{{url_for('static', filename='images/alz_timeseries.png')}}">
    <p class="caption">The time series graph above shows the emotion severity score for each of the 8 emotions across the time range from 2018 to 2022. The mean score for each day in the time range was calculated for each emotion. The y-axis shows the mean emotion severity score for each of the emotions, and the x-axis is divided into 6 month intervals. We can observe how emotions changed before and after the Covid 19 Pandemic.</p>
    <br><br>
    <img id="piechart" src="{{url_for('static', filename='images/alz_pie.png')}}">
    <p class="caption">All of the posts were assigned a dominant emotion by the NRCLex algorithm. The pie chart above shows the distribution of each of the 8 emotions across all posts on the site. </p>
    
    <div id="topbutton">
    <button style="text-align: center;"><a href="#top">Top</a></button>
    </div>
</body>
{% endblock %}