{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/labeling.css') }}">
</head>

<body>

    <h3>Support Type Labeling</h3>
    <br>
    <p>Choose which type of support the author of this post is seeking: instructional, emotional, or instrumental.</p>
    <form id="postdata" method="post">
        <label>Title:</label>
        <p id="title">{{title}}</p>
        <label>Body:</label>
        <p id="body-text">{{ body }}</p>

        {% for message in get_flashed_messages() %}
            <p style="color:red" align='center'>{{ message }}</p>
        {% endfor %}

        <label for="support_type">What type of support is this post seeking?</label>
        <div id="submission">
        <select name="support">
            <option value="instructional">Instructional</option>
            <option value="emotional">Emotional</option>
            <option value="instrumental">Instrumental</option>
            <option value="none">None</option>
        </select>
        <div id="initials">   
            <label id="init" for="initials">Initials:</label>
            <input type="text" name="initials"
                placeholder=""
                value="{{ initials }}"></input>
            <br>
        </div> 
        <button type="submit">Submit</button>
    </div>
    </form>

</body>

{% endblock %}