{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align:center">{% block title %} Team {% endblock %}</h1>
    <body>
    <h4>Developers</h4>
    <p>
    Lucas Rodriguez</br>  
    <img src="{{url_for('static', filename='images/lucas.jpg')}}" style="width:200px;height:200px;" >   
    </br>Shivani Parekh</br>
    <img src="{{url_for('static', filename='images/shivani.jpg')}}" style="width:200px;height:200px;" > 
    </br>Urmi Lalchandani</br>
    <img src="{{url_for('static', filename='images/urmi.jpeg')}}" style="width:200px;height:200px;" > 
    </br>Gem Gasca</br>
    <img src="{{url_for('static', filename='images/gem.jpg')}}" style="width:200px;height:200px;" >   
    </p>
    </br>
    <h4>Research Team</h4>
    <p>
    Dr. Yong Choi </br>
    Jiyeong Kim </br>
    Salhah Alomairi </br>
    </p>
    </body>
{% endblock %}
static/css/images